body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.circle-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  animation: rotateAnime 16s infinite linear;
  p {
    font-size: 10px;
  }
}

.inner:hover {
  animation-play-state: paused;
}

@keyframes rotateAnime {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle_tx {
  position: absolute;
  // display: block;
  // width: fit-content;
  inset: 0;
  font-weight: 700;
}
